{{!< monitorDashboard}} <div class="container">
  <form action="/trainer/reports/{{report.ReportID}}/create" method="POST" class="row g-3 needs-validation mt-5" enctype="multipart/form-data">
    <input type="text" hidden name="ReportID" class="form-control input" id="ReportID" value="{{report.ReportID}}"
      required />
    <input type="text" hidden name="UserID" class="form-control input" id="UserID" value="{{user.UserID}}"
      required />
    {{! File }}
    <div class="col-md-6">
      <label for="template" class="form-label">File</label>
      <input type="file" name="template" class="form-control" id="template" required />
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-12 mx-auto mt-4">
      <button class="btn btn-primary" id="uploadButton" type="submit">Upload File</button>
    </div>
    </div>

    {{!-- <script src="/js/createReportMonitor.js"></script> --}}