{{!< studentDashboard}}

 <style>

  /* Additional styles specific to the Programs section */ .programs-container {
  display: flex; flex-wrap: wrap; gap: 20px; padding-block: 20px; width: 65%; }
  .program-card { border: 2px solid rgba(46, 90, 146,0.3); background-color:
  #f7f7f7; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); width:
  200px;height: 150px; display: flex; flex-direction:column;justify-content:
  space-between; overflow: hidden; } .program-card h3 {text-align:center; font-size: 18px; color: #2E5A92; }
  .program-card p { color: white; font-weight: 500 } .add-button {
  background-color: #2E5A92; color: #fff; padding: 10px 15px; border: none;
  border-radius: 5px; cursor: pointer; } .add-button:hover { background-color:
  #2E5ABB; } .card-upper { padding: 15px; display: flex;justify-content:
  center;flex-direction: column; align-items: center; flex:1;} .card-lower { padding-inline: 15px;
  background: #2E5A92; color: white; display: flex;height: 30px;
  justify-content: center; }


  </style>

<div class="container justify-content-start" style="margin-top: 80px;">
  <div class="row">
    <div class="col-md-12 d-flex gap-4">


     <div class="programs-container">
      <a href="/student/assignments" style="text-decoration: none;">
        <div class="program-card">
          <div class="card-upper">
            <img src="/icons/participants.png" alt="">
            <h3>Assignment</h3>
          </div>
        </div>
      </a>
    </div> 

  
    <div class="programs-container">
      <a href="/student/quizes" style="text-decoration: none;">
        <div class="program-card">
          <div class="card-upper">
            <img src="/icons/participants.png" alt="">
            <h3>Quizes</h3>
          </div>
        </div>
      </a>
    </div>
  

  
    <div class="programs-container">
      <a href="/student/feedbacks" style="text-decoration: none;">
        <div class="program-card">
          <div class="card-upper">
            <img src="/icons/participants.png" alt="">
            <h3>Feedback</h3>
          </div>
        </div>
      </a>
    </div>

     <div class="programs-container">
      <a href="/student/deliverables" style="text-decoration: none;">
        <div class="program-card">
          <div class="card-upper">
            <img src="/icons/participants.png" alt="">
            <h3>Download Deliverables</h3>
          </div>
        </div>
      </a>
    </div>
  

</div>
  </div>
  </div>
  

  <script src="/js/student/dashboard.js"></script>