<html>
  <head>
    <title>JavaScript Quiz App</title>
    <link rel="stylesheet" href="/css/quiz/styles.css" />
  </head>
  <body style="flex-direction: column;">
    <div class="container">
      <h1 id="quizName" style="margin-bottom: 20px;">Quiz</h1>
      <div id="quiz"></div>
      <div id="result" class="result"></div>
      <button id="previous" class="button ">Previous</button>
      <button id="submit" class="button">Submit</button>
      <button id="showAnswer" class="button hide">Show Answer</button>
      <button id="redirect" class="button hide">Back to Home</button>
    </div>
    <script src="/js/quiz/index.js"></script>
  </body>
</html>