<html lang="en">

<head>
  <link rel="icon" type="image/png" href="/eci.png" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Monitor Dashboard</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
  <link rel="stylesheet" href="/css/admin/dashboard.css" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

  
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/trainer/dashboard.css" />
    <link rel="stylesheet" href="/css/admin/dashboard.css" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css
" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js
"></script>
  <link rel="stylesheet" href="/css/userAvatar.css" />

 <script src="https://kit.fontawesome.com/46ede82261.js" crossorigin="anonymous"></script>

</head>

<body>


    <div class="header" style="margin-top: -1px;">
      <button id="menuToggle" onclick="toggleSidebar()">&#9776;</button>
      <h1>Monitor Dashboard</h1>
      <div id="userProfile">
        <div class="userMenu">
          <div class="menuList">
            <a href="/monitor/profile">Profile</a>
            <button id="logout" class="userLogoutButton">Logout</button>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <i class="fa-solid fa-circle-xmark cursor-pointer" id="closeModal" onclick="toggleSidebar()"
        style="margin-top: 0px; margin-left: 9px; margin-bottom: 15px;"></i>
      <ul style=" margin-left: -31px;">
        <li><a href="/monitor/dashboard"> <i class="fa-solid fa-house pe-3"></i>Dashboard</a></li>
        
        <li><a href="assignments"><i class="fa-solid fa-file pe-3"></i> Assignments</a></li>
        <li><a href="/monitor/deliverables"><i class="fa-solid fa-trailer pe-3"></i>Deliverables</a></li>
        
        <li><a href="/monitor/reports"><i class="fa-solid fa-comment-dots pe-3"></i>Reports</a></li>

        <li class="two_tag_vertically_center"><button class="btn" style="color:#2E5A92; background-color: white;width:100%" id="logout" onclick="localStorage.removeItem('user'); location.href='/'">Logout</button></li>
      </ul>
    </div>

  {{{body}}}

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/admin/dashboard.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="/js/monitor/dashboard.js"></script>
    <script src="/js/admin/dashboard.js"></script>
</body>

</html>